body {
    background-image: url(Images/pink\ yellow\ gradient\ background.png);
    background-size:cover;

}
   
main {}
    
  h1 {

    font-size: 80px;
    background: url("Images/pinkglitter.gif"); 
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;       
    font-family:'american typewriter';
    -webkit-text-stroke: 0px;
    color:rgb(255, 154, 205);
    padding-left: 390px;
    padding-top: 90px;
    position: absolute;
    z-index: 3;
    
}

h2 { 
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100px;
    padding-left: 676px;
    padding-top: 100px;
    position: absolute;
    color:rgb(249, 117, 183);
    z-index: 2;
}

h3 {
    font-size: 40px;
    font-family: "american typewriter";
    font-weight: 300;
    color: rgb(88, 104, 193);
    padding-left: 750px;
    padding-top: 1300px;
    position: absolute;

}

h4 {
    font-size: 40px;
    font-family: "american typewriter";
    font-weight: 300;
    color: rgb(88, 104, 193);
    padding-left: 150px;
    padding-top: 700px;
    position: absolute;
    

}



p {
    font-size: 12px;
    font-family: 'Source Serif 4', serif;
    font-weight: 400;
    position: absolute;
    padding-top: 350px; 
    padding-right: 240px; 
    text-indent: 20px;
    padding-left: 750px;
    line-height: 20px;
}

p2 {
    font-size: 12px;
    font-family: 'Source Serif 4', serif;
    font-weight: 400;
    position: absolute;
    padding-top: 820px; 
    padding-right: 800px; 
    text-indent: 20px;
    padding-left: 150px;
    line-height: 20px;
    rotate: 30px;
}
p3 {

    font-size: 10px;
    font-weight: 400;
    font-family: 'Source Serif 4', serif;
    padding-left: 150px;
    padding-right: 990px;
    padding-top: 1400px;
    position: absolute;
    line-height: 15px;

}


p4 {

    font-size: 10px;
    font-weight: 400;
    font-family: 'Source Serif 4', serif;
    padding-left: 820px;
    padding-right: 200px;
    padding-top: 1070px;
    position: absolute;
    line-height: 15px;
}
p5 {
    font-size: 10px;
    font-weight: 400;
    font-family: 'Source Serif 4', serif;
    padding-left: 200px;
  
    padding-top: 1510px;
    position: absolute;
    line-height: 15px;

}



#franceshashimoto {
    height: 300px;
    width: auto;
    padding-left: 150px;
    padding-top: 1000px;
    position: absolute;
}

#yukimidaifuku {  
    height: 280px;
    width: auto;
    position: absolute;
    padding-left: 820px;
    padding-top: 780px;

}

#mochiplatter {
    height: 200px;
    width: auto;
    position: absolute;
    padding-left: 200px;
    padding-top: 300px;

}

.box1 {
    height: 100px;
    width: 350px;
    position: absolute;
    margin-left: 450px;
    padding-top: 300px;
    z-index: -1;
    background-color:#ffa5e3;
}



#confettiborder1 {
    height: 250px;
    width: 500;
    padding-top: 0px;
    position:absolute;
    padding-left: 0px;
    z-index: -1;
}
#confettiborder2 {
    height: 250px;
    width: 500px;
    padding-top: 0px;
    position:absolute;
    padding-left: 460px;
    z-index: -1;
}
#confettiborder3 {
    height: 250px;
    width: 500px;
    padding-top: 0px;
    position:absolute;
    padding-left: 970px;
    z-index: -1;
}

