body {
    background-image: url(Images/pink\ yellow\ gradient\ background.png);
    background-size:cover;
 position: relative;

}
   
main {}
    
h1 {

    font-size: 80px;
    background: url("Images/pinkglitter.gif"); 
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-family:'american typewriter';
    -webkit-text-stroke: 0px;
    color:rgb(255, 154, 205);
    padding-left: 590px;
    padding-top: 70px;
    position: absolute;
    z-index: 3;

   }


   h2 { 
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100px;
    padding-left: 1200px;
    margin-top: -2px;
    position: absolute;
    color:rgb(22, 94, 166);
    z-index: 10;
    position: fixed;
    letter-spacing: 1px;
}

h3 {
    font-size: 50px;
    font-family: "american typewriter";
    font-weight: 300;
    color: rgb(48, 126, 204);
    padding-left: 350px;
    padding-top: 745px;
    position: absolute;

}

h4 {
    font-size: 50px;
    font-family: "american typewriter";
    font-weight: 300;
    color: rgb(48, 126, 204);
    padding-left: 420px;
    padding-top: 1160px;
    position: absolute;
    padding-right: 470px;

}



p {
    font-size: 13px;
    font-family: 'Source Serif 4', serif;
    font-weight: 400;
    position: absolute;
    padding-top: 850px; 
    padding-right: 750px; 
    padding-left: 350px;
    line-height: 23px;
    color: rgb(2, 2, 70);
}

p2 {
    font-size: 13px;
    font-family: 'Source Serif 4', serif;
    font-weight: 400;
    position: absolute;
    padding-top: 1300px; 
    padding-right: 580px; 
    padding-left: 460px;
    line-height: 23px;
    color: rgb(2, 2, 70);
}
p3 {

    font-size: 10px;
    font-weight: 400;
    font-family: 'Source Serif 4', serif;
    padding-left: 155px;
    padding-right: 1100px;
    padding-top: 1605px;
    position: absolute;
    line-height: 17px;
    z-index: 4;

}
p4 {

    font-size: 10px;
    font-weight: 400;
    font-family: 'Source Serif 4', serif;
    padding-left: 465px;
    padding-right: 325px;
    padding-top: 583px;
    position: absolute;
    line-height: 15px;
    z-index: 4;
}

p5 {

    font-size: 10px;
    font-weight: 400;
    font-family: 'Source Serif 4', serif;
    padding-left: 955px;
    padding-right: 100px;
    padding-top: 1485px;
    position: absolute;
    line-height: 17px;
    z-index: 4;
}


#republicofbooza {

    height: 400px;
    width: auto;
    padding-top: 600px;
    position:absolute;
    padding-left: 100px;
    padding-bottom: 40px;   
}

#colorfulbooza {

    height: 180px;
    width: auto;
    padding-top: 400px;
    position:absolute;
    padding-left: 450px;
    padding-bottom: 40px; 
    z-index: 3;
   
}

#boozastretchedicecream {
    height: 400px;
    width: auto;
    position: absolute;
    padding-left: 950px;
    padding-top: 1080px;
    padding-bottom: 50px;
}

#boozacone {
    height: 120px;
    width:auto;
    padding-top: 700px;
    padding-left: 110px;
    position: absolute;
}

#boozaroll {
    height: 70px;
    width:auto;
    padding-top: 770px;
    padding-left: 170px;
    position: absolute;
}

#boozacup {
    height: 80px;
    width:auto;
    padding-top: 1000px;
    padding-left: 700px;
    position: absolute;
}
#boozagif {
    height: 250px;
    width:auto;
    padding-top: 1640px;
    padding-left: 280px;
    position: absolute;
    padding-bottom: 30px;
}













#pinkbox {
    height: 260px;
    width: 600px;
    padding-top: 380px;
    position:absolute;
    padding-left: 410px;
    z-index: 2;

}

#pinktextsquare {

    height: 60px;
    width: 200px;
    padding-top: 1590px;
    position:absolute;
    padding-left: 140px;
    z-index: 2;

}



#pinkbox3 {
    height: 340px;
    width: 410px;
    padding-top: 1595px;
    position:absolute;
    padding-left: 235px;
    z-index: -3;

}
#pinktextcranny {
    height: 340px;
    width: auto;
    padding-top: 1300px;
    position:absolute;
    padding-left: 100px;
    z-index: -3;

}

#blueline {
    height: 1.5px;
    width: 645px;
    position: absolute;
    padding-top: 810px;
    padding-left: 600px;
}





#pinkwavy {
    height:55px;
    width: 1500px;
    margin-top: -20px;
    position: fixed;
    z-index: 9;
    margin-left: -11px;
    margin-right: -1px;
}


.homebutton-hover {
    height: 32px;
    width: auto;
    position: fixed;
    margin-left: 40px;
    margin-top: -2px;
    z-index: 12;
  
   
   }
  
   .homebutton-hover img {
    height: 32px;
    width: auto;
    position: fixed;
    margin-left: 40px;
    margin-top: -2px;
    z-index: 12;
    
    }

  .homebutton-hover img.img-front:hover{
    opacity:0;
    cursor: pointer;
  }



  .box1 {
    height: 420px;
    width: 300px;
    position: absolute;
    margin-left: 950px;
    margin-top: 1060px;
    z-index: -1;
    background-color:#ffa5e3;
}




  #confettiborder1 {
    height: 250px;
    width: 500;
    padding-top: 0px;
    position:absolute;
    padding-left: 0px;
    z-index: -1;
}
#confettiborder2 {
    height: 250px;
    width: 500px;
    padding-top: 0px;
    position:absolute;
    padding-left: 460px;
    z-index: -1;
}
#confettiborder3 {
    height: 250px;
    width: 500px;
    padding-top: 0px;
    position:absolute;
    padding-left: 970px;
    z-index: -1;
}




